# --- MongoDB ---
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGODB_URI=

# --- NestJS ---
PORT=
JWT_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASS=

# --- Python ---
PYTHON_AI_URL=

# --- Go Worker / RabbitMQ ---
RABBITMQ_URL=
RABBITMQ_QUEUE=
NEST_API_URL=
