# --- Configurações Comuns ---

# RabbitMQ
RABBITMQ_URL=
RABBITMQ_QUEUE=

# MongoDB
MONGO_URI=

# --- Configurações de Serviços Internos ---

# Servidor Python (FastAPI)
PYTHON_PORT=
PYTHON_INSIGHTS_HOST=

# Servidor NestJS
PORT=
