# --- Configurações Básicas do NestJS ---
MONGODB_URI=
PORT=
JWT_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASS=

# --- Integração e Comunicação de Microsserviços ---
PYTHON_TRIGGER_HOST=

# Configurações do RabbitMQ
RABBITMQ_URL=
RABBITMQ_QUEUE=

# --- Resend (envio de email) ---
RESEND_API_KEY=
FROM_EMAIL=
